{% extends "layout.twig" %}
{% block content %}
    <div class="container margin20">
        <div class="col-md-4 col-md-offset-4 ">
        <div class="col-md-9">
              {% if plano is not null %}
                <h3>Editar ddd</h3>
             {% else %}
                <h3>Novo ddd</h3>
             {% endif %}   
        </div>

            <form  method="POST" action="create">
                <input type="hidden" name="id" value="{{ plano ? plano.id : "" }}" />
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <label for="name">Nome *</label>
                            <input type="text" name="name" id="name" value="{{ plano and plano.name ? plano.name : "" }}" required class="form-control" />
                        </div>
                        <div>

                            <label for="loja">Loja *</label><br>
                            <select id="loja" name="loja">
                                {% for loja in lojas %}
                                    <option value="{{ loja.id }}" {{ plano and loja.id == plano.loja.id ? 'selected="selected"' : "" }}>{{ loja.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div>
                            <label for="name">Comissao *</label>
                            <input type="text" name="comissao" id="comissao" class="form-control" required value="{{ plano and plano.comissao ? plano.comissao : "" }}" />
                        </div>
                        <div>
                            <label for="name">meta1 *</label>
                            <input type="text" name="meta01" id="meta01" class="form-control" required value="{{ plano and plano.meta01 ? plano.meta01 : "" }}" />
                        </div>
                        <div>
                            <label for="name">meta2*</label>
                            <input type="text" name="meta02" id="meta02" class="form-control" required value="{{ plano and plano.meta02 ? plano.meta02 : "" }}" />
                        </div>

                        <div>
                            <label for="name">meta3 *</label>
                            <input type="text" name="meta03" id="meta03" class="form-control" required value="{{ plano and plano.meta03 ? plano.meta03 : "" }}" />
                        </div>
                        <div>
                            <label for="name">Comissao1 *</label>
                            <input type="text" name="comissao01" id="comissao01" class="form-control" required value="{{ plano and plano.comissao01 ? plano.comissao01 : "" }}" />
                        </div>
                        <div>
                            <label for="name">Comissao2 *</label>
                            <input type="text" name="comissao02" id="comissao02" class="form-control" required value="{{ plano and plano.comissao02 ? plano.comissao02 : "" }}" />
                        </div>

                        <div>
                            <label for="name">Comissao3 *</label>
                            <input type="text" name="comissao03" id="comissao03" class="form-control" required value="{{ plano and plano.comissao03 ? plano.comissao03 : "" }}" />
                        </div>

                    </div>

                </div>
                <div class="row submit">
                    <div class="col-md-6">
                        <a href="/loja" class="btn btn-default" title="Cancelar cadastro">Cancelar</a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success" type="submit" title="Salvar cliente">Salvar</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}