{% extends "layout.twig" %}
{% block content %}
	<div class="container margin20">
		<div class="col-md-4 col-md-offset-4 ">
			{% for flashMessage in app.session.flashbag.get('message') %}
				<div class="text-center center-block">
		            <h4>
		            	<span class="label label-danger">
			                {{ flashMessage }}
			            </span>
			        </h4>
			    </div>
	        {% endfor %}


			<h3>{{ title }}</h3>

				<table class="lista table table-striped table-condensed">
					<thead>
					<tr>
						<th> {{ '#' }} </th>
						<th> {{ 'Número' }} </th>
						<th> {{ 'Opções' }} </th>

					</tr>
					</thead>
					<tbody>
					{% for dependente in dependentes %}
						<tr>
							<td> <span>{{ dependente.id|e }}</span> </td>
							<td> {{ dependente.valor|e }} </td>
							<td>
								<a href="/dependente/edit/{{ dependente.id }}" title="Editar usuário" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>

							</td>

						</tr>
					{% else %}
						<tr>
							<td colspan="4">{{ 'Nenhum DDD foi criado.' }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>



		</div>
	</div>
{% endblock %}